.button {
    width: 50px;
    height: 30px;
    padding: 5px;
}

.largeButton {
    width: 150px;
    height: 30px;
    padding: 5px;
}

.entry {
    display: block;
    width: 200px;
    height: 20px;
    padding: 20px;
    margin-bottom: 2rem;
    border: thin solid #ddd;
}

.dependents {
    display: block;
    float: left;
    width: 700px;
    padding: 2rem;
    margin-bottom: 2rem;
    /*border: thin solid #ddd;*/
}

.employeeList {
    height: 100%;
    width: 150px;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 40px;
    background-color: #fbfbfb;
}

.employeeDetails {
    text-align: left;
    margin-left: 150px;
}


.employeeDetail {
    border: thin solid #ddd;
    /*background-color: blue;*/
    background-color: #fbfbfb;
    width: 100%;
    padding: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Wrapper {
    text-align: center;
}

/*pre-existing*/


.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #FFFFFF;
    /*background-color: #282c34;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.App-link {
    color: #61dafb;
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
