.innerWrapper {
    display: flex;
    height: 1200px;
}

.sidebar {
    align-items: stretch;
}

.outerWrapper {
    text-align: center;
}

.employeeList {
    width: 250px;
    padding-top: 40px;
    background-color: #fbfbfb;
    border: thin solid #ddd;
}

.button {
    width: 50px;
    height: 30px;
    padding: 5px;
}

.largeButton {
    width: 150px;
    height: 30px;
    padding: 5px;
    margin: 10px;
}

.entry {
    display: block;
    width: 200px;
    height: 20px;
    padding: 20px;
    margin-bottom: 2rem;
    border: thin solid #ddd;
}

.dependents {
    display: block;
    float: left;
    width: 700px;
    padding: 2rem;
    margin-bottom: 2rem;
    border: thin solid #ddd;
}

.employeeDetails {
    text-align: left;
    height: 1200px;
    /*margin-left: 200px;*/
    /*position: absolute;*/
    flex: 100%;
    background-color: #fbfbfb;
}

.employeeDetail {
    border: thin solid #ddd;
    background-color: #fbfbfb;
    width: 100%;
    padding: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    background-color: #BAD8E8;
    height: 30px;
    width: 100%;
    text-align: center;
    vertical-align: center;
    padding: 30px;
}

.costSummaryWrapper {
    background-color: #fbfbfb;
    height: 1200px;
    text-align: center;
    padding: 100px;
}

.summaryText {
    margin: 10px;
}

/*pre-existing*/
.App-header {
    background-color: #FFFFFF;
    /*background-color: #282c34;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}


